.card {
    padding: 20px;
    background-color: rgb(255, 246, 230);
    border: 1px solid black;
    width: 400px;
    height: 500px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
  