.product-table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid rgb(155, 152, 152);
}
.table-line{
    background-color: rgb(255, 255, 211);
}
.product-table th,
.product-table td {
    padding: 12px;
    text-align: left;
}


.product-table td.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-table .icon {
    font-size: 1.4em;
    cursor: pointer;
    margin: 0 5px;
}

.product-table tbody tr:nth-child(even) {
    background-color: rgb(255, 255, 211); 
}